# {{ ansible_managed }}

# accept everything on loopback
set skip on lo

# default deny
block in
pass out

anchor "relayd/*"

# blacklist of badguys. add them using: pfctl -t badhosts -T add <SOMEIP>
table <badhosts> persist file "/etc/pf-badhost.txt"
block quick on egress from <badhosts> to any

{% for rule in firewall_rules %}

  {%- if rule.port is defined -%}
    {%- set port = ['to port', rule.port ] -%}
  {%- else -%}
    {%- set port = [ '' ] -%}
  {%- endif -%}
  {%- if rule.allow|default(true) -%}
    {%- set allow = 'pass' -%}
  {%- else -%}
    {%- set allow = 'block' -%}
  {%- endif -%}

  {% if rule.source is defined %}

    {% for ip in rule.source %}
      {{ allow }} in on {{ rule.interface|default('any') }} proto {{ rule.proto|default('tcp') }} from {{ ip }} {{ port|join(' ') }}
    {% endfor %}

  {% else %}

    {{ allow }} in on {{ rule.interface|default('any') }} proto {{ rule.proto|default('tcp') }} {{ port|join(' ') }}

  {% endif %}

{% endfor %}

{{ firewall_append|default('') }}
